html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
	display: flex;
	margin-bottom: 9px;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	color: #414536;
	font-family: "DM Sans", arial;
	font-size: 18px;
	line-height: 28px;
	/* 155.556% */
}

.container {
	max-width: 1440px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
}

.dn {
	display: none;
}

section {
	padding: 48px 0;
}

.sec_tit {
	color: #0F0F0F;
	font-family: "Inter";
	font-size: 38px;
	line-height: 46px;
	/* 120% */
	font-weight: 700;
	margin-bottom: 20px;
}

.sec_desc {
	color: #0F0F0F;
	font-family: "Inter";
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 27px;
	/* 150% */
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 700;
	color: #182226;
	transition: 0.3s;
	line-height: 24px;
	/* 150% */
	text-align: center;
	cursor: pointer;
}

.btn:hover {
	background: #2C2F24;
	color: #fff;
	animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}

@keyframes trambling-animation {
	0%, 50%, 100% {
			transform: rotate(0deg);
	}
	10%, 30% {
			transform: rotate(-10deg);
	}
	20%, 40% {
			transform: rotate(10deg);
	}
}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.con {
	margin: 0 155px;
}

/* header */

.head_con {
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #EDEDED;
	line-height: 18.2px; /* 130% */
}

.tit {
	color: #0F0F0F;
	text-align: center;
	font-size: 14px;
	padding: 0 16px 0 0;
}

.txt {
	color: #D87775;
	text-align: center;
	font-size: 14px;
}

.btn__red {
	width: 154px;
	background: #E48D8B;
	color: #fff;
}

.menu {
	background: #fbfbfb;
	justify-content: space-around;
}

.icon {
	width: 141px;
	height: 27px;
	margin: 22px;
}

.text {
	padding: 25px;
}

.menu_tit {
	color: #757575;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.4px;
	/* 149.333% */
	letter-spacing: 0.6px;
}

.btns {
	padding: 22px;
}


/* learn */
.learn_big {
	margin: 0 105px 0 155px;
	position: relative;
	align-items: center;
}


.learn_left {
	width: 50%;
}

.learn_text {
	padding: 18px;
}


.learn_sec__tit {
	width: 494px;
	color: #0F0F0F;
	font-size: 49px;
	font-weight: 400;
	line-height: 58.8px;
	/* 120% */
	padding: 0 0 18px 0;
}

.learn_txt {
	width: 461px;
	color: #464646;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	/* 140% */
}


.learn_price {
	justify-content: stretch;
	padding: 10px;
	margin: 5px;
}

.price {
	color: #0F0F0F;
	font-family: "Inter";
	font-size: 31px;
	font-weight: 700;
	line-height: 38.4px;
	/* 123.871% */
	letter-spacing: 0.5px;
}

.exprice {
	width: 52px;
	color: #757575;
	font-family: Inter;
	padding: 10px;
	font-size: 20px;
	font-weight: 400;
	line-height: 22.4px;
	/* 112% */
	letter-spacing: 0.5px;
}

.learn_right {
	width: 50%;
}

.learn_img {
	background: url(../img/IMAGE.jpg) no-repeat;
	margin-left: 97px;
	height: 490px;
	object-fit: cover;
	transition: 0.4s;
}
.learn_img:hover {
	transform: scale(1.15);
} 

.learn_btns {
	margin-left: 20px;
}

.btn__two {
	width: 183px;
	color: #757575;
	background: #EDEDED;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
 /* 150%  */
 margin-right: 195px;
}

/* rectangle */

.cards {
	position: relative;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	width: 334px;
	padding: 0px 13px 13px 0px;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 32px;
	border-radius: 16px;
	object-fit: cover;
	transition: 0.2s;
}

.card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	transform: scale(1.15);
}


.card_icon {
	width: 40px;
	height: 40px;
	margin: 13px;
}


.card_txt {
	color: #0F0F0F;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	/* 150% */
	padding: 13px;
}


.card_tit {
	color: #0F0F0F;
	font-size: 25px;
	font-weight: 400;
	line-height: 32.5px;
	/* 130% */
	padding: 0 13px 0;
}


/* podcast */

.podcast_con {
	margin: 0 105px 0 155px;
	position: relative;
}

.podcast_left {
	width: 50%;
	margin-right: 97px;
}

.podcast_text {
	margin-left: 93px;
}

.podcast_right {
	width: 50%;
	margin: 138px 0;
}

.podcast_img {
	object-fit: cover;
	transition: 0.4s;
}

.podcast_img:hover {
	transform: scale(1.15);
} 


.sec_tit {
	width: 500px;
}


.sec_desc {
	width: 493px;
}


.podcast_left__two {
	width: 50%;
	margin: 122px 0;
}


.podcast_right__two {
	width: 50%;
}


/* included */

.included {
	background: #017CFF;
}

.included_con {
	padding: 96px 0;
}

.inc__sec_tit {
	text-align: center;
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	line-height: 45.6px;
	/* 120% */
}

.counter {
  color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 80px;
	font-weight: 700;
	line-height: 64px; /* 80% */
	margin-bottom: 33px;
}

.number_pro {
	color: #FFF;
  font-size: 80px;
  font-weight: 700;
  line-height: 64px;
}

.included_cards {
	margin: 47px;
	justify-content: center;
	align-items: center;
}

.inc_tit {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px; /* 158.824% */
}

.included_card {
	margin: 0 45px 16px 45px;
}


/* course */

.course_sec__tit {
	color: #0F0F0F;
	text-align: center;
	font-size: 38px;
	font-weight: 700;
	line-height: 45.6px;
	/* 120% */
	margin: 0 0 64px 0;
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion:after {
	content: '\02C4';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\02C5";
}

.cour_item {
	width: 600px;
	margin: auto;
	margin-bottom: 12px;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

/* by */


.by_tit {
	color: #0F0F0F;
	font-size: 38px;
	font-weight: 700;
	line-height: 45.6px;
	/* 120% */
	margin: 0 0 64px 0;
}

.by_icon {
	width: 40px;
	height: 40px;
}

.by__sec_desc {
	width: 243px;
	padding: 14px 0 0 0;
}

.by_con {
	margin: 0 105px;
}

.by_card {
	padding: 16px;
	margin-bottom: 48px;
	width: calc((100% - 48px) / 4);
	transition: 0.5s;
	border-radius: 12px;
}

.by_card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



/* jamie */

.jamie {
	background: #194677;
}

.jamie_con {
	text-align: center;
}

.item {
	width: 51px;
	height: 46px;
	margin: auto;
	padding: 96px 0 25px 0;
}

.jam_txt {
	color: #FFF;
	font-size: 25px;
	font-weight: 400;
	line-height: 32.5px;
	/* 130% */
}

.jam_txt__two {
	color: #E48D8B;
	font-size: 25px;
	font-weight: 400;
	line-height: 32.5px;
}

.jamie_img {
	width: 100px;
	margin: auto;
}

.jam_text {
	margin: auto;
	padding: 50px 0 25px 0;
	text-align: center;
	max-width: 646px;
}

.jamie_tit {
	color: #FFF;
	font-family: Inter;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	/* 158.824% */
	padding: 8px 0 0;
}

/* any */

.any_sec__tit {
	color: #0F0F0F;
	text-align: center;
	font-size: 38px;
	font-weight: 400;
	line-height: 45.6px;
	/* 120% */
	margin: 0 0 40px 0;
}

.any_tit {
	color: #0F0F0F;
	font-size: 22px;
	font-weight: 400;
	line-height: 30.8px;
	/* 140% */
	margin: 20px 0 26px 24px;
}

.any_icon {
	width: 16px;
	height: 10px;
	margin: 28px 24px 28px 0;
}

.any_item {
	width: 800px;
	height: 77px;
	margin: 8px 0;
	margin-right: auto;
	margin-left: auto;
}

.any_item:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* time */

.time {
	background: #E48D8B;
}

.time_tit {
	color: #FFF;
	text-align: center;
	font-size: 38px;
	font-weight: 400;
	line-height: 45.6px;
	/* 120% */
}

.btn__blue {
	width: 208px;
	height: 43px;
	color: #fff;
	background: #017cff;
	margin: auto;
}

.time_card {
	display: block;
	background: #fff;
	max-width: 430px;
	transition: 0.3s;
	object-fit: cover;
}

.time_card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	transform: scale(0.9);
}

.time_con {
	padding: 121px 0 64px 0;
}

.time_icon {
	width: 40px;
	height: 40px;
	color: #B1B1B1;
	margin: auto;
	margin-top: 48px;
}

.time_sec__tit {
	color: #FFF;
	text-align: center;
	font-size: 38px;
	font-weight: 400;
	line-height: 45.6px;
	/* 120% */
}

.time_tit {
	color: #464646;
	text-align: center;
	font-size: 38px;
	font-weight: 400;
	line-height: 45.6px;
	/* 120% */
	margin: 11px 0 15px 0;
}

.time_cards {
	margin: 64px 270px 0;
}

.time_txt {
	display: block;
	width: 230px;
	color: #464646;
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	/* 158.824% */
	margin: 0 100px 13px 100px;
}

.time_price {
	justify-content: center;
	margin: 0 0 35px 0;
}


.time_price__one {
	color: #017CFF;
	font-size: 31px;
	font-weight: 400;
	line-height: 38.4px;
	/* 123.871% */
	letter-spacing: 0.5px;
}

.time_tit_two {
	color: #757575;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 22.4px;
	/* 112% */
	letter-spacing: 0.5px;
	padding: 8px 0 0 8px;
}

/* .time_cards {
	margin: auto;
} */


.ti_icon {
	width: 22px;
	height: 23px;
}

.time_items {
	margin: 56px 48px 35px;
}

.time_item {
	margin: 10px;
	display: flex-start;
}



/* more */



.more_cards {
	margin-top: 48px;
}

.more_tit {
	color: #0F0F0F;
	text-align: center;
	font-size: 38px;
	font-weight: 700;
	line-height: 45.6px;
	/* 120% */
}

.more_card {
	background: #EDEDED;
	margin-bottom: 32px;
}

.more__e {
	text-align: start;
}
.upp {
	margin-top: -69px;
}
.uppp {
	margin-top: -25px;
}
 
.more_txt {
	color: #0F0F0F;
	width: 283px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	margin: 0 32px 14px;
}

.more_icon {
	width: 116px;
	height: 20px;

}

.more_img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
}

.name {
	margin: 12px 98px 12px 12px;
}

.more_item {
	width: 291px;
	margin: 0 0 32px 32px;
}


.more_icon {
	margin: 32px 0 26px 32px;
}


/* footer */

footer {
	background: #FBFBFB;
}
.footer_left {
	width: 50%;
	margin: 64px 0;
}


.footer_right {
	width: 50%;
	margin: 64px 0;
	padding-left: 200px;
}


.footer_icon {
	width: 156px;
	height: 30px;
	margin-bottom: 23px;
}

.footer_text {
	width: 284px;
}

.footer_tit {
	width: 395px;
	color: #0F0F0F;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	/* 150% */
	margin-bottom: 13px;
}

.footer_txt {
	color: #0F0F0F;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
	/* 140% */
}

.footer_a {
	color: #017CFF;
	font-size: 13px;
	font-weight: 400;
	line-height: 19.6px;
	/* 150.769% */
}

.footer_sec__tit {
	color: #B1B1B1;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.footer_sec__text {
	width: 320px;
}

.li {
	width: 74px;
}

.footer_nav__one {
	margin-right: 80px;
}

.c {
	margin-bottom: 9px;
}